.app {
  padding: 10px;
}

.login-form,
.signup-form {
  display: flex;
  justify-content: center;
  gap: 40px;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 10px 30px 50px 30px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.flex-form {
  display: flex;
  justify-content: center;
  padding: 20px 0 50px 0;
}

.flex-button {
  display: flex;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: groove;
  background: white;
  display: flex;
  justify-self: center;
}
form button {
  color: #a00158ec;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  margin: 20px;
}
form button:hover {
  background: #a00158ec;
  color: white;
}

.trash-btn,
.complete-btn {
  background: #9b0a0aec;
  color: white;
  border: dashed;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(6, 170, 55);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.todo-item {
  list-style-type: none;
  font-size: 30px;
  display: flex;
  padding-bottom: 10px;
}
